body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #FFF;
    color: #434455;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}


ul {
    list-style-type: none;
margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}

a {
    display: block;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}
/* header section */

.header-section {
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
}

.header-container {
display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-section {
    display: flex;
    align-items: center;
}

.link-logo {
    color:  #4D5AE5;
        font-family: Raleway,sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 76px;
        

}

.logo-studio {
    color:  #2E2F42;
        font-family: Raleway,sans-serif;
font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        text-decoration: none;
}

.header-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;

}



.nav-item {
    color:  #2E2F42;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        text-decoration: none;
        padding: 24px 0
}


.nav-item:focus {
    color: #404BBF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.nav-item:hover {
    color: #404BBF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* address */


.address-section {
    display: block;
}


.address-list {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 24px 0;
    margin-left: 332px;
       
}

.head-address-item {
    color: #434455;
        line-height: 1.5;
        font-style: normal;
        letter-spacing: 0.32px;
        text-decoration: none;
        display: block;
            padding-top: 24px;
            padding-bottom: 24px;
}

.head-address-item:hover {
    color:  #404BBF;
        line-height: 1.5;
        font-style: normal;
        letter-spacing: 0.32px;
}
.head-address-item:focus {
color: #404BBF;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.32px;
}


/* hero section */

.hero-section {
    background: #2E2F42;
        padding: 188px 0;
}

.hero-title {
    color:  #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            max-width: 496px;
}

.hero-button {
    background:  #4D5AE5;
        color: #FFF;
        font-family: Roboto,sans-serif;
        font-size: 16px;
      font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            border-radius: 4px;
                padding: 16px 32px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                border: none;
                min-width: 169px;
                height: 56px;
}

.hero-button:hover {
        background:  #404BBF;
}
.hero-button:focus {
    background: #404BBF;
}

/* section 2 */

.descript-section {
    padding: 120px 0;
}

.descript-list {
    display: flex;
    gap: 24px;
}

.descript-item {
    width: calc((100%-72px) /4);
}

.second-title {
    color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        
        margin-bottom: 8px;
}
.section-text {
    color:  #434455;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

/* team */



.team-section {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-worker {
        background:  #FFF;
}

.team-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
}

.team {
    display: flex;
        gap: 24px;
}

.team-item-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.team-list {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        text-align: center;
            margin-bottom: 8px;
}

.team-container {
    padding: 32px 0;
}

.team-proff {
    color:  #434455;
        text-align: center;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.32px;
        text-align: center;
}

/* our portfolio */


.portfolio {
    padding-top: 120px;
        padding-bottom: 120px;
}

.main-portfolio-title {
    text-align: center;
        margin-bottom: 72px;
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.portfolio-list {
        display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
            margin-bottom: 8px;
}

.describe-portfolio {
    color: #434455;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

/* footer section */

.footer-section {
    background: #2E2F42;
        padding: 100px 0;
}

.footer-link-logo {
    color:  #4D5AE5;
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        text-decoration: none;
            display: inline-block;
                margin-bottom: 16px;
}

.footer-logo-studio {
    color: #F4F4FD;
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        text-decoration: none;
}

.footer-text {
    color: #F4F4FD;
        line-height: 1.5;
        letter-spacing: 0.32px;
            width: 264px;
}